.timetable{
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.item{
    /* background-color: lightcyan; */
    
}
.item1{
    place-self: center;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid white; 
    
    width: 100%;
    height: 100%;
  }

  .button1:hover {
    background-color: lightskyblue;
    color: black;
  }

  .popup {
    display: block;
    position: fixed;
    padding: 10px;
    width: 350px;
    left: 50%;
    margin-left: -10px;
    height: 325px;
    top: 50%;
    margin-top: -100px;
    background: lavenderblush;
    border: 3px solid black;
    z-index: 20;
    overflow: scroll;
  }
  

  
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */