.header{
    height: 10%;
    width: 100%;
    background-color: burlywood;
    margin: 0%;
}
.headertxt{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    margin-left: 45%;
}
.headerbtn{
    margin-top: 1%;
    height: 10%;
    width: 3%;
    background-color: yellowgreen;
}
.headerspan{
    height: 10%;
    width: 50%;
    background-color: grey;
}

.footer{
    height: 10%;
    width: 100%;
    background-color: bisque;
    flex-direction: column;
    margin-top: 3%;
}
.footertxt{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    margin-left: 45%;
}
.footerDate{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    margin-top: -1.8%;
}

.midCon{
    height: 25%;
    width: 25%;
    margin-top: 3%;
    margin-left: 36%;
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 30px; */
    font-size: 200%;
    color: black;
    border: 1px;
    border-style: solid;
}

.midIn{
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.table1{
    border: 1px;
}
.text1{
    
    margin-top: 150%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    /* justify-content: center;
    align-items: center; */
}
.text2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}
.text3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
.text4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 120%;
}
.text5{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}
.text6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 180%;
}
.text7{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 200%;
}
.text8{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}
.MU{
    margin-top: 3%;
    margin-left: 40%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}
.MU1{
    margin-top: 3%;
    margin-left: 5%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}
